<!-- Top Nav -->
<div class="row" id="top-nav">
    <div class="col-0 col-sm-1 col-xl-2"></div>
    <div class="col-12 col-sm-10 col-xl-8">
        <div class="row">
            <div id="donate-btn-box" class="col-sm-3">
                <a href="#">
                    <div id="donate-btn">Donate</div>
                </a>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <!-- TO DO - Social Profile Images -->
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-xl-2"></div>
</div>
<!-- Nav Menu -->
<div class="row" id="nav-menu">
    <div class="col-0 col-md-1 col-xl-2"></div>
    <div class="col-12 col-md-10 col-xl-8" id="main-header">
        <div id="site-logo">
            <a href="/">
                <img src="http://essai-automobile.com/actualites/photos-logos/jaguar-logo.png" alt="PixelPOW logo">
            </a>
        </div>
        <!-- Desktop Menu -->
        <div id="menu-links-box">
                <div class="menu-link"><a href="#">Home</a></div>
                <div class="menu-link"><a href="#">About Us</a></div>
                <div class="menu-link"><a href="#">Workshops</a></div>
                <div class="menu-link"><a href="#">Testimonials</a></div>
                <div class="menu-link"><a href="#">Contact</a></div>
        </div>
        <!-- Mobile Menu -->
        <div id="menu-icon" class="d-lg-none float-right">
            <img src="/img/menu-icon.png" alt="menu icon">
        </div>
    </div>
    <div class="col-0 col-md-1 col-xl-2"></div>
</div>
<!-- Sticky Nav -->
<!-- Mobile Nav -->