<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Facebook -->
    <meta property="og:site_name" content="PixelPOW">
    <meta property="og:url" content="http://www.pixelpow.com">
    <meta property="og:title" content='PixelPOW'>
    <meta property="og:description" content="Pixel Pow is an educational resource that makes the perfect sidekick for graphic design students &amp; faculty who want to incorporate comic books into their curriculums &amp; research.">
    <!-- <meta property="og:image" content="/img/ADD PIXELPOW LOGO IMAGE"> -->
    <meta property="og:image:width" content="630">
    <meta property="og:image:height" content="330">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom Styling & Script -->
    <link rel="stylesheet" href="css/main.css">
    <script src="script/main.js"></script>
    <title>PixelPOW</title>
</head>
<body>
    <header>
        <!-- Top Nav -->
        <div class="row" id="top-nav">
            <div class="col-0 col-sm-1 col-xl-2"></div>
            <div class="col-12 col-sm-10 col-xl-8">
                <div class="row">
                    <div id="donate-btn-box" class="col-sm-3">
                        <a href="#">
                            <div id="donate-btn">Donate</div>
                        </a>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">
                        <!-- TO DO - Social Profile Images -->
                    </div>
                </div>
            </div>
            <div class="col-0 col-sm-1 col-xl-2"></div>
        </div>
        <!-- Nav Menu -->
        <div class="row" id="nav-menu">
            <div class="col-0 col-sm-1 col-xl-2"></div>
            <div class="col-12 col-sm-10 col-xl-8">
                <div id="site-logo">
                    <a href="/">
                        <img src="http://essai-automobile.com/actualites/photos-logos/jaguar-logo.png" alt="PixelPOW logo">
                    </a>
                </div>
                <!-- Desktop Menu -->
                <div id="menu-links-box">
                        <div class="menu-link"><a href="#">Home</a></div>
                        <div class="menu-link"><a href="#">About Us</a></div>
                        <div class="menu-link"><a href="#">Workshops</a></div>
                        <div class="menu-link"><a href="#">Testimonials</a></div>
                        <div class="menu-link"><a href="#">Contact</a></div>
                </div>
                <!-- Mobile Menu -->
                <div id="menu-icon" class="d-lg-none float-right">
                    <img src="/img/menu-icon.png" alt="menu icon">
                </div>
            </div>
            <div class="col-0 col-sm-1 col-xl-2"></div>
        </div>
        <!-- Sticky Nav -->
        <!-- Mobile Nav -->
    </header>
    <main>
        <!-- Hero Slider -->
        <!-- About Us -->
        <!-- Issues -->
            <!-- Issue #1 -->
            <!-- Issue #2 -->
            <!-- Issue #3 -->
        <!-- Testimonials -->
            <!-- Testimonials Slider -->
            <!-- Testimonials CTA -->
        <!-- School Clients -->
        <!-- Newsletter Signup -->
    </main>
    <footer>
        <!-- Footer -->
    </footer>
</body>
</html>