/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */
a:hover {
    text-decoration: none;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 28px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 28px 0px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    line-height: 30px;
    margin: 28px 0px;
}
h4 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 34px;
    margin: 18px 0px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
h5 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
h6 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 18px 0px;
    font-weight: 500;
    letter-spacing: .9px;
}
input {
    font-family: 'Varela Round', Helvetica, sans-serif;
}

/* HEADER */
/* Anchor Links */
@media (min-width: 991.5px) {
    a.anchor {
        display: block;
        position: relative;
        top: -162px;
        visibility: hidden;
    }
}
@media (max-width: 991.5px) {
    a.anchor {
        display: block;
        position: relative;
        top: -118px;
        visibility: hidden;
    }
}

/* Sticky Header */
@media (max-width: 991.5px) {
    #sticky-nav {
        height: 118px;
    }
}
@media (min-width: 991.5px) {
    #sticky-nav {
        height: 162px;
    }
}
#nav-menu-box {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: rgb(140, 140, 140) 0px 9px 21px -17px;
}

/* Pink Top Nav */
@media screen and (min-width: 991.5px) {
    #top-nav {
        background-color: #b8326e;
        color: white;
        height: 44px;
        width: 100%;
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
    }
}
@media screen and (max-width: 991.5px) {
    #top-nav {
        display: none;
    }
}
#donate-btn-box {
    padding-left: 0px !important;
    text-align: center;
}
#donate-btn {
    height: 100%;
    width: 77px;
    padding: 14px;
    box-sizing: border-box;
    border-top: 3px solid #eecedcb7;
    border-right: .5px solid #eecedcb7;
    border-left: .5px solid #eecedcb7;
    color: white;
}
#donate-btn:hover {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
}
#social-icons {
    text-align: right;
    box-sizing: border-box;
}
.social-icon-box {
    padding: 8.5px 2px;
    display: inline-block;
    box-sizing: border-box;
}
.social-icon {
    width: 26px;
    max-height: 100%;
}
/* Main Nav Menu */
#nav-menu {
    height: 118px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: white;
}
@media (max-width: 991.5px) {
    #main-header {
        padding: 0px 40px;
    }
}
#site-logo {
    height: 118px;
    display: inline-block;
}
@media (max-width: 991.5px) {
    #site-logo {
        width: 28%;
        padding: 40px 0px;
    }
    #site-logo img {
        width: 180px;
    }
}
@media (min-width: 991.5px) {
    #site-logo {
        width: 17%;
        padding: 44px 0px;
    }
    #site-logo img {
        width: 150px;
    }
}
@media (min-width: 991.5px) {
    #menu-links-box {
        vertical-align: top;
        width: 82.4%;
        padding-top: 55px;
        padding-bottom: 47px;
        text-align: right;
        box-sizing: border-box;
        display: inline-block;
    }
}
@media (max-width: 991.5px) {
    #menu-links-box {
        display: none;
    }
}
.menu-link:not(:first-child) {
    margin-left: 4.9%;
}
.menu-link {
    display: inline-block;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.menu-link a {
    color: #232424;
}
.menu-link:hover {
    border-bottom: 2px solid #f2cb05;
}
#menu-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    margin: 34px 0px;
    box-sizing: border-box;
    float: right;
}
#menu-icon:hover {
    cursor: pointer;
}
#menu-icon img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 12px;
}
@media (min-width: 991.5px) {
    #menu-popout, #menu-x, #site-dim, .menu-popout-link, #menu-logo {
        display: none;
    }
}   
@media (max-width: 991.5px) {
    #menu-popout {
        width: 320px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f29f05;
        font-family: 'Montserrat', Helvetica, sans-serif;
        text-transform: uppercase;
        display: none;
        z-index: 100;
        box-sizing: border-box;
        text-align: center;
    }
    .menu-popout-link {
        padding: 20px;
        border-bottom: 1.5px solid #232424;
    }
    .menu-popout-link:hover {
        background-color: #f0ae33;
    }
    #menu-logo {
        background-color: white;
        border-bottom: none;
    }
    #menu-popout a {
        color: #232424;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 740;
    }
    #menu-x {
        position: fixed;
        top: 10px;
        right: 340px;
        width: 10px;
        height: 10px;
        z-index: 99;
        color: white;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    #site-dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #23242471;
        display: none;
        z-index: 98;
    } 
}

/* Hero Slider */
#hero-slider {
    height: 600px;
    position: relative;
}
#hero-slider-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
}
@media (min-width: 767.5px) {
    #hero-slider-img {
        background-image: url('/img/heroslider1.png');
    }
}
@media (max-width: 767.5px) {
    #hero-slider-img {
        background-image: url('/img/mobile_heroslider1.png');
    }
}
.hero-arrow {
    position: absolute;
    top: 278px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
@media (min-width: 767.5px) {
    #hero-left-arrow {
        left: 100px;
        background-image: url('/img/hero_arrow_left_black.png');
    }
    #hero-left-arrow:hover {
        background-image: url('/img/hero_arrow_left_yellow.png');
        cursor: pointer;
    }
    #hero-right-arrow {
        right: 100px;
        background-image: url('/img/hero_arrow_right_black.png');
    }
    #hero-right-arrow:hover {
        background-image: url('/img/hero_arrow_right_yellow.png');
        cursor: pointer;
    }
}
@media (max-width: 767.5px) {
    #hero-left-arrow {
        left: 15px;
        background-image: url('/img/mobile_arrow_left_black.png');
    }
    #hero-left-arrow:hover {
        background-image: url('/img/mobile_arrow_left_yellow.png');
        cursor: pointer;
    }
    #hero-right-arrow {
        right: 15px;
        background-image: url('/img/mobile_arrow_right_black.png');
    }
    #hero-right-arrow:hover {
        background-image: url('/img/mobile_arrow_right_yellow.png');
        cursor: pointer;
    }
}
#hero-dots-box {
    position: absolute;
    top: 580px;
    left: 40%;
    right: 40%;
    text-align: center;
}
.hero-dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
#hero-dot-0{
    background-image: url('/img/dot_yellow.png');
}
#hero-dot-1, #hero-dot-2 {
    background-image: url('/img/dot_black.png');
}

/* About Us Section */
#about-us-box {
    text-align: center;
    font-family: 'Varela Round', Helvetica, sans-serif;
}
@media (min-width: 991.5px) {
    #about-us-box {
        padding: 75px 0px;
    }
}
@media (max-width: 991.5px) {
    #about-us-box {
        padding: 25px 10px;
    }
}
.yellow-bar {
    height: 2px;
    width: 50px;
    background-color: #f2cb05;
    margin: 0 auto 28px auto;
}

/* Issues */
.issue-box {
    margin-top: -4px;
}
.issue-img {
    height: 650px;
    width: 100%;
    display: inline-block;
}
.issue-number {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 8px;
}
.issue-title {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin-top: 0px;
    letter-spacing: 1.1px;
}
.issue-content {
    font-family: 'Varela Round', Helvetica, sans-serif;
}
.in-this-issue {
    margin-bottom: 0px;
}
.issue-details {
    letter-spacing: .8px;
}
.white-bar {
    height: 2px;
    width: 50px;
    background-color: white;
    margin-bottom: 28px;
}
.download-btn {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #2c2c2c;
    border: none;
    width: 115px;
    height: 36px;
    margin-bottom: 25px;
    cursor: pointer;
}
.download-btn:hover {
    border: 1px solid white;
}
.stats-white-bar {
    height: 3.5px;
    width: 30px;
    background-color: white;
    margin: 0px auto 18px auto;
}
/* Issues - Desktop */
@media (min-width: 991.5px) {
    .issue-box {
        position: relative;
        color: white;
    }
    #issue-1-img {
        background-image: url('/img/workshop1.png');
        background-size: cover;
    }
    #issue-2-img {
        background-image: url('/img/workshop2.png');
        background-size: cover;
    }
    #issue-3-img {
        background-image: url('/img/workshop3.png');
        background-size: cover;
    }
    .issue-textarea-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 650px;
        width: 56.5%;
        display: inline-block;
    }
    .issue-textarea-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 650px;
        width: 57.5%;
        display: inline-block;
    }
    #issue-1-textarea {
        border-bottom: 650px solid #f23322;
        border-left: 150px solid transparent;
    }
    #issue-2-textarea {
        border-bottom: 650px solid #b8326e;
        border-right: 150px solid transparent;
    }
    #issue-3-textarea {
        border-bottom: 650px solid #7b59ad;
        border-left: 150px solid transparent;
    }
    .issue-content-right {
        position: absolute;
        padding-right: 15px;
        width: 320px;
    }
    .issue-content-left {
        position: absolute;
        padding-left: 15px;
        width: 320px;
    }
    #issue-1-content {
        top: 86px;
    }
    #issue-2-content {
        top: 48px;
    }
    #issue-3-content {
        top: 38px;
    }
    .issue-content-right {
        right: 20%;
    }
    .issue-content-left {
        left: 35.666666%;
    }
    #issue-1-title {
        width: 310px;
    }
    #issue-3-title {
        width: 212px;
    }
    .issue-stat-right:not(:last-child){
        margin-right: 18px;
    }
    .issue-stat-left:not(:first-child){
        margin-left: 18px;
    }
}
@media (min-width: 1144.5px) {
    .issue-content-right {
        right: 12.5%;
        width: 340px;
    }
    .issue-content-left {
        right: 12.5%;
        width: 325px;
    }
    .issue-stat {
        text-align: center;
        display: inline-block;
    }
    .issue-stat-right:not(:last-child){
        margin-right: 22px;
    }
    .issue-stat-left:not(:first-child){
        margin-left: 22px;
    }
}
@media (min-width: 1239.5px) {
    .issue-content-right {
        right: 34%;
        width: 340px;
    }
    .issue-content-left {
        right: 34%;
        width: 330px;
    }
}
@media (min-width: 1404.5px) {
    .issue-content-right {
        right: 36%;
        width: 390px;
    }
    .issue-content-left {
        right: 36%;
        width: 370px;
    }
}
@media (max-width: 1404.5px) {
    .issue-stat {
        text-align: center;
        display: inline-block;

    }
    .issue-stat h4 {
        font-size: 20px;
        line-height: 24px;
    }
    .issue-stat h6 {
        font-size: 13px;
        line-height: 18px;
    }
}
/* Issues - Mobile */
@media (max-width: 991.5px) {
    .issue-content {
        padding: 45px;
        text-align: center;
        width: 100%;
    }
    .issue-box {
        position: relative;
        color: white;
    }
    .issue-img {
        height: 500px;
        width: 100%;
    }
    #issue-1-img {
        background-image: url('/img/workshop1.png');
        background-size: cover;
    }
    #issue-2-img {
        background-image: url('/img/workshop2.png');
        background-size: cover;
    }
    #issue-3-img {
        background-image: url('/img/workshop3.png');
        background-size: cover;
    }
    .issue-textarea {
        height: 100%;
        width: 100%;
        display: inline-block;
        margin-top: -4px;
    }
    #issue-1-textarea {
        background-color: #f23322;
    }
    #issue-2-textarea {
        background-color: #b8326e;
    }
    #issue-3-textarea {
        background-color: #7b59ad;
    }
    .issue-stat {
        text-align: center;
        display: inline-block;
        margin-right: 15px;
    }
    .issue-number {
        font-size: 16px;
        padding-bottom: 5px;
    }
    .issue-title {
        font-size: 40px;
        line-height: 48px;
    }
    .white-bar {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 767.5px) {
    #issue-1-img {
        background-image: url('/img/mobile_workshop1.png');
        background-size: cover;
    }
    #issue-2-img {
        background-image: url('/img/mobile_workshop2.png');
        background-size: cover;
    }
    #issue-3-img {
        background-image: url('/img/mobile_workshop3.png');
        background-size: cover;
    }
}
@media (max-width: 500px) {
    .issue-stat {
        display: block;
        margin-bottom: 45px;
    }
    .issue-stat h4 {
        font-size: 32px;
        line-height: 40px;
    }
    .issue-stat h6 {
        font-size: 22px;
        line-height: 32px;
    }
}

/* TESTIMONIALS */
#testimonial-box {
    background-color: #2c2c2c;
    width: 100%;
    height: 100%;
    margin-top: -4px;
    color: white;
}
@media (min-width: 991.5px) {
    #testimonial-box {
        padding: 100px 0px;
    }
}
@media (max-width: 991.5px) {
    #testimonial-box {
        padding: 80px 0px;
    }
}
.testimonial-wrapper {
    text-align: center;
    position: relative;
}
.testimonial-content {
    display: inline-block;
    width: 95%;
    margin-left: 7px;
}
.testimonial-prev {
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url('/img/mobile_arrow_left_yellow.png');
}
.testimonial-next {
    display: inline-block;
    width: 7px;
    height: 10px;
    background-image: url('/img/mobile_arrow_right_yellow.png');
}
.testimonial-arrow {
    position: absolute;
    top: 50%;
    padding: 1px;
}
.testimonial-arrow:hover {
    cursor: pointer;
}
.testimonial-img {
    display: block;
    width: 80px;
    margin: 0px auto 40px auto;
}
.testimonial-quote, .testimonial-title {
    font-family: 'Varela Round', Helvetica, sans-serif;
}
.testimonial-quote {
    padding: 0px 40px;
}
@media (min-width: 991.5px) {
    .testimonial-quote {
        font-size: 15px;
        line-height: 30px;
    }
}
@media (max-width: 991.5px) {
    .testimonial-quote {
        font-size: 18px;
        line-height: 36px;
        padding: 0px 25px;
    }
}
.testimonial-person {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #f29f05;
    font-size: 15px;
    margin-bottom: 2px;
}
#testimonial-1, #testimonial-2 {
    display: none;
}
#testimonial-cta {
    background-color: #f29f05;
    text-align: center;
    padding: 30px;
}
#testimonial-cta h5 {
    color: white;
}
@media (max-width: 991.5px) {
    #testimonial-cta {
        display: none;
    }
}

/* School Clients */
#school-clients-box {
    color: #232424;
    text-align: center;
}
.school-img {
    width: 185px;
    display: inline-block;
    padding: 20px 0px;
}
@media (min-width: 991.5px) {
    #school-clients-box {
        padding: 90px 0px;
    }
    #school-clients-box h4 {
        margin-bottom: 70px;
    }
}
@media (max-width: 991.5px) {
    #school-clients-box {
        padding: 15px 0px;
    }
    #school-clients-box h4 {
        margin-bottom: 40px;
    }
}

/* Newsletter Signup */
#newsletter-box {
    text-align: center;
    color: white;
    padding: 40px 10px 70px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 991.5px) {
    #newsletter-box {
        background-image: url('/img/footer_bg.png');
    }
}
@media (max-width: 991.5px) {
    #newsletter-box {
        background-image: url('/img/mobile_footer_bg.png');
        height: 400px;
    }
}
#newsletter-box h6 {
    font-weight: 700;
}
#newsletter-form {
    margin: 36px 0px;
}
#newsletter-email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.623);
    padding: 3px 5px;
    color: white;
    vertical-align: top;
    font-size: 14px;
    height: 28px;
    width: 200px;
}
::-webkit-input-placeholder { /* Chrome */
    color: rgba(255, 255, 255, 0.575);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.575);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.575);
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba(255, 255, 255, 0.575);
    opacity: 1;
}
#newsletter-btn {
    background-color: rgba(255, 255, 255, 0.575);
    background-image: url('/img/mailing_list_button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 28px;
    width: 40px;
    vertical-align: top;
}
#footer-social-icons {
    padding-bottom: 40px;
}

/* Footer */
#footer-bar {
    background-color: #03050d;
    height: 80px;
    width: 100%;
    padding: 20px 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
}
#copyright {
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 10px 0px;
}
#back2top-btn {
    background-color: #1c1d1d;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    float: right;
    margin-left: 2.7%;
    margin-top: -40px;
    background-image: url('/img/mobile_arrow_up_white.png');
    background-repeat: no-repeat;
    background-position: center;
}
#back2top-btn:hover {
    cursor: pointer;
}
@media (max-width: 991.5px) {
    #footer-bar {
        text-align: center;
    }
    #footer-logo {
        display: none;
    }
    #copyright {
        float: none;
    }
    #back2top-btn {
        display: none;
    }
}