/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */
a:hover {
    text-decoration: none;
}
.row {
    margin-left: 0px;
}

/* HEADER */
@media screen and (min-width: 991.5px) {
    #top-nav {
        background-color: #b8326e;
        color: white;
        height: 44px;
        width: 100%;
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: bold;
        font-size: 12px;
    }
}
@media screen and (max-width: 991.5px) {
    #top-nav {
        display: none;
    }
}
#donate-btn-box {
    padding-left: 0px !important;
}
#donate-btn {
    height: 100%;
    width: 77px;
    padding: 14px;
    box-sizing: border-box;
    border-top: 3px solid #eecedcb7;
    border-right: .5px solid #eecedcb7;
    border-left: .5px solid #eecedcb7;
    color: white;
}
#donate-btn:hover {
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
}
#social-icons {
    text-align: right;
    box-sizing: border-box;
}
.social-icon-box {
    padding: 8.5px 2px;
    display: inline-block;
    box-sizing: border-box;
}
.social-icon {
    width: 26px;
    max-height: 100%;
}
#nav-menu {
    height: 118px;
    width: 100%;
    background-color: rgb(214, 214, 214);
    box-sizing: border-box;
    font-family: 'Montserrat Bold', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}
@media (max-width: 991.5px) {
    #main-header {
        padding: 0px 40px;
    }
}
#site-logo {
    height: 118px;
    display: inline-block;
}
@media (max-width: 991.5px) {
    #site-logo {
        width: 28%;
        padding: 40px 0px;
    }
    #site-logo img {
        width: 180px;
    }
}
@media (min-width: 991.5px) {
    #site-logo {
        width: 17%;
        padding: 44px 0px;
    }
    #site-logo img {
        width: 150px;
    }
}
@media (min-width: 991.5px) {
    #menu-links-box {
        vertical-align: top;
        width: 82.4%;
        padding-top: 55px;
        padding-bottom: 47px;
        text-align: right;
        box-sizing: border-box;
        display: inline-block;
    }
}
@media (max-width: 991.5px) {
    #menu-links-box {
        display: none;
    }
}
.menu-link:not(:first-child) {
    margin-left: 4.9%;
}
.menu-link {
    display: inline-block;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.menu-link a {
    color: #232424;
}
.menu-link:hover {
    border-bottom: 2px solid #f2cb05;
}
#menu-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    margin: 34px 0px;
    box-sizing: border-box;
    float: right;
}
#menu-icon:hover {
    cursor: pointer;
}
#menu-icon img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 12px;
}
@media (min-width: 991.5px) {
    #menu-popout, #menu-x, #site-dim {
        display: none;
    }
}
@media (max-width: 991.5px) {
    #menu-popout {
        width: 320px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f29f05;
        font-family: 'Montserrat Bold', Helvetica, sans-serif;
        text-transform: uppercase;
        display: none;
        z-index: 100;
        box-sizing: border-box;
        text-align: center;
    }
    .menu-popout-link {
        padding: 20px;
        border-bottom: 1.5px solid #232424;
    }
    .menu-popout-link:hover {
        background-color: #f0ae33;
    }
    #menu-logo {
        background-color: white;
        border-bottom: none;
    }
    #menu-popout a {
        color: #232424;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 740;
    }
    #menu-x {
        position: fixed;
        top: 10px;
        right: 340px;
        width: 10px;
        height: 10px;
        z-index: 99;
        color: white;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    #site-dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #23242471;
        display: none;
        z-index: 98;
    } 
}