<a class="anchor" id="about-anchor"></a>
<div id="about-us-box" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
        <h3>About Us</h3>
        <p>Pixel Pow is an educational resource that makes the perfect sidekick for graphic design students &amp; faculty who want to incorporate comic books into their curriculums &amp; research.</p>
        <p>Few people know the truth, but comic books have a secret identity! Behind their epic stories and incredible heroes, comics conceal an entire world of graphic design technique that can be used to inform and support lesson plans for all skill levels.</p>
        <p>Give your work the superpowers it deserves with Pixel Pow!</p>
        <div class="yellow-bar"></div>
    </div>
</div>