<div id="school-clients-box" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
        <h4>Schools Using PixelPOW</h4>
        <div class="school-img">
            <img src="/img/school_shu.png" alt="SHU">
        </div>
        <div class="school-img">
            <img src="/img/school_scad.png" alt="SCAD">
        </div>
        <div class="school-img">
            <img src="/img/school_usc.png" alt="USC">
        </div>
        <div class="school-img">
            <img src="/img/school_risd.png" alt="RSID">
        </div>
        <div class="school-img">
            <img src="/img/school_msu.png" alt="MSU">
        </div>
    </div>
</div>