<div id="footer-bar" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
        <img id="footer-logo" src="/img/logo_white.png" alt="Pixel POW">
        <p id="copyright">PixelPOW 2018 © All Rights Reserved </p>
    </div>
    <div id="back2top-btn"></div>
</div>