<!-- Top Nav -->
<div class="row" id="top-nav">
    <div class="col-0 col-sm-1 col-xl-2"></div>
    <div class="col-12 col-sm-10 col-xl-8">
        <div class="row">
            <div id="donate-btn-box" class="col-sm-3">
                <a href="#">
                    <div id="donate-btn">Donate</div>
                </a>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
                <div id="social-icons">
                    <div id="fb-icon" class="social-icon-box">
                        <a href="#">
                            <img class="social-icon" src="/img/fb-icon.png" alt="PixelPOW on Facebook">
                        </a>
                    </div>
                    <div id="ig-icon" class="social-icon-box">
                        <a href="#">
                            <img class="social-icon" src="/img/ig-icon.png" alt="PixelPOW on Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-xl-2"></div>
</div>
<!-- Nav Menu -->
<div class="row" id="nav-menu">
    <div class="col-0 col-lg-1 col-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8" id="main-header">
        <div id="site-logo">
            <a href="/">
                <img src="/img/pixelpow-logo.png" alt="PixelPOW logo">
            </a>
        </div>
        <!-- Desktop Menu -->
        <div id="menu-links-box">
                <div class="menu-link"><a href="#">Home</a></div>
                <div class="menu-link"><a href="#">About Us</a></div>
                <div class="menu-link"><a href="#">Workshops</a></div>
                <div class="menu-link"><a href="#">Testimonials</a></div>
                <div class="menu-link"><a href="#">Contact</a></div>
        </div>
        <!-- Mobile Popout Nav -->
        <div id="menu-icon" class="d-lg-none">
            <img id="menu-icon-img" src="/img/menu-icon.png" alt="menu icon">
        </div>
        <div id="menu-popout">
            <div id="menu-x">X</div>
            <div id="menu-logo" class="menu-popout-link">
                <img src="/img/pixelpow-logo.png" alt="PixelPOW logo">
            </div>
            <a href="#">
                <div class="menu-popout-link">Home</div>
            </a>
            <a href="#">
                <div class="menu-popout-link">About Us</div>
            </a>
            <a href="#">
                <div class="menu-popout-link">Workshops</div>
            </a>
            <a href="#">
                <div class="menu-popout-link">Testimonials</div>
            <a href="#">
                <div class="menu-popout-link">Contact</div>
            </a>
            <a href="#">
                <div class="menu-popout-link">Donate</div>
            </a>
        </div>
        <div id="site-dim"></div>
    </div>
    <div class="col-0 col-lg-1 col-xl-2"></div>
</div>
<!-- Sticky Nav -->
