<div id="hero-slider">
    <div id="hero-slider-img"></div>
    <div id="hero-left-arrow" class="hero-arrow"></div>
    <div id="hero-right-arrow" class="hero-arrow"></div>
    <div id="hero-dots-box">
        <div id="hero-dot-0" class="hero-dot"></div>
        <div id="hero-dot-1" class="hero-dot"></div>
        <div id="hero-dot-2" class="hero-dot"></div>
    </div>
</div>