<div id="issue-1" class="issue-box">
    <div id="issue-1-img" class="issue-img-left issue-img"></div>
    <div id="issue-1-textarea" class="issue-textarea-right issue-textarea">
        <div id="issue-1-content" class="issue-content-right issue-content">
            <p class="issue-number">Issue #1</p>
            <h2 class="issue-title">The Origin Story: Graphic Design Basics</h2>
            <p class="in-this-issue">IN THIS ISSUE...</p>
            <p class="issue-details">You'll start your adventure as a graphic design hero! Learn the basic skills you'll need to do battle with any design challenge that comes your way.</p>
            <div class="white-bar"></div>
            <a href="#"><button class="download-btn">Download</button></a>
            <div class="issue-stats-box">
                <div class="issue-stat">
                    <h4>2hrs</h4>
                    <div class="stats-white-bar"></div>
                    <h6>Run Time</h6>
                </div>
                <div class="issue-stat">
                    <h4>beginner</h4>
                    <div class="stats-white-bar"></div>
                    <h6>Difficulty</h6>
                </div>
                <div class="issue-stat">
                    <h4>82</h4>
                    <div class="stats-white-bar"></div>
                    <h6>Downloads</h6>
                </div>
            </div>
        </div>
    </div>
</div>