<div id="newsletter-box" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
        <h6>JOIN THE MAILING LIST</h6>
        <form id="newsletter-form" action="#!">
            <input id="newsletter-email" type="text" placeholder="Subscribe">
            <button id="newsletter-btn"></button>
        </form>
        <div id="footer-social-icons">
            <div class="fb-icon social-icon-box">
                <a href="#!">
                    <img class="social-icon" src="/img/fb-icon.png" alt="PixelPOW on Facebook">
                </a>
            </div>
            <div class="ig-icon social-icon-box">
                <a href="#!">
                    <img class="social-icon" src="/img/ig-icon.png" alt="PixelPOW on Instagram">
                </a>
            </div>
        </div>
    </div>
</div>