<!-- Testimonials Slider -->
<a class="anchor" id="testimonial-anchor"></a>
<div id="testimonial-box" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div id="testimonial-0" class="col-12 col-lg-10 col-xl-8 testimonial-wrapper">
        <div class="testimonial-prev testimonial-arrow"></div>
        <div class="testimonial-content">
            <div class="testimonial-img">
                <img src="/img/samuel_keen.png" alt="Samuel Keen">
            </div>
            <p class="testimonial-quote">“Pixel Pow help me breathe new life into my Introduction to Graphic Design syllabus.  The student response has been overwhelming positive, and the lesson plans and materials have saved me hours of time every semester.”</p>
            <p class="testimonial-person">Samuel Keen</p>
            <p class="testimonial-title">Professor of Graphic Design</p>
        </div>
        <div class="testimonial-next testimonial-arrow"></div>
    </div>
    <div id="testimonial-1" class="col-12 col-lg-10 col-xl-8 testimonial-wrapper">
        <div class="testimonial-prev testimonial-arrow"></div>
        <div class="testimonial-content">
            <div class="testimonial-img">
                <img src="/img/diane_sanchez.png" alt="Samuel Keen">
            </div>
            <p class="testimonial-quote">“I’m a HUGE comic book fan, so getting to use panels from artists I love made doing the activities a blast. I definitely feel like I have a better grasp of typography now, and I’m excited to start the third lesson.”</p>
            <p class="testimonial-person">Dianes Sanchez</p>
            <p class="testimonial-title">Design Student</p>
        </div>
        <div class="testimonial-next testimonial-arrow"></div>
    </div>
    <div id="testimonial-2" class="col-12 col-lg-10 col-xl-8 testimonial-wrapper">
        <div class="testimonial-prev testimonial-arrow"></div>
        <div class="testimonial-content">
            <div class="testimonial-img">
                <img src="/img/ginny_fish.png" alt="Samuel Keen">
            </div>
            <p class="testimonial-quote">“My son, who’s a senior in high school, used the site as a way to prepare for college (he’ll be studying illustration and design in the fall).  He got a lot out of the video tutorials and liked being able to go at his own pace through the lessons.”</p>
            <p class="testimonial-person">Ginny Fish</p>
            <p class="testimonial-title">Mom</p>
        </div>
        <div class="testimonial-next testimonial-arrow"></div>
    </div>
    <div class="offset-lg-1 offset-xl-2"></div>
</div>
<!-- Testimonials CTA -->
<div id="testimonial-cta" class="row">
    <div class="offset-lg-1 offset-xl-2"></div>
    <div class="col-12 col-lg-10 col-xl-8">
        <h5>Do you want to share your testimonial? <span style="color: #1c2239">E-mail us now!</span></h5>
    </div>
    <div class="offset-lg-1 offset-xl-2"></div>
</div>